<div class="row">
  <br/><br/><br/>
  <div class="col-xs-12">
    <div class="col-md-12" style="width:95%; border-radius:10px; border-color:black;font-family:serif">
    <center>  <h1 class="text-center">
        WELCOME TO THE BOOKING PAGE
      </h1>
    </center>
    </div>
    <br/><br/>
    <div class="col-md-12">
    <table class="table table-condensed" style="text-align:center">
      <tr>
        <th style="text-align:center">Movie</th>
    <th style="text-align:center">Theatre</th>
<th style="text-align:center">Show</th>
<th style="text-align:center">Date</th>
</tr>
<tr>
      <td>{{movieName}}</td>
      <td>{{movieTheatre}}</td>
      <td>{{movieShow}}</td>
      <td>{{movieDate}}</td>
</tr>
</table>
</div>
</div>
</div>
<div class="row">
  <div class="col-xs-2"></div>
				<div class="col-xs-4 well">
          <center>
          <table width="70%">
            <tr><th>Class</th>
  				<td><select class="" id="Seatclass">
          <option>Select Class</option>
            <option>GOLD</option>
            <option>SILVER</option>
  				</select>
        </td></tr>
        </table>
      </center>
        </div>
        <div class="col-xs-4 well">
          <center>
          <table width="70%">
            <tr><th>Number Of Seats</th>
          <td><select class="" id="noofseats">
          <option>Select Tickets</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
  				</select>
        </td></tr>
        </table>
        </center>
  </div>
  <div class="col-xs-2"></div>
</div>
<br/><br/>
          <div class="row">
            <div class="col-sm-9">
				<center>
			<div class="style2"><b><h4 class="h4style" style="">GOLD CLASS (₹ 280/ )<h4></b></div>

				<table style="width:50%;"  align="center" class="table table-default" id="gold">
        <tr>
		    <td><div align="center" class="style1" id="a1">A1</div></td>
        <td><div align="center" class="style1" id="b1">B1</div></td>
        <td><div align="center" class="style1" id="c1">C1</div></td>
        <td><div align="center" class="style1" id="d1">D1</div></td>
        <td><div align="center" class="style1" id="e1">E1</div></td>
        <td><div align="center" class="style1"  id="f1">F1</div></td>
				<td><div align="center" class="style1" id="g1">G1</div></td>
				<td><div align="center" class="style1" id="h1">H1</div></td>
				<td><div align="center" class="style1" id="i1">I1</div></td>
				<td><div align="center" class="style1" id="j1">J1</div></td>
    </tr>

    <tr>
   <td></td>
      <td><div align="center"class="style1"id="b2">B2</div></td>
      <td><div align="center"class="style1"id="c2">C2</div></td>
      <td><div align="center"class="style1"id="d2">D2</div></td>
      <td><div align="center"class="style1"id="e2">E2</div></td>
      <td><div align="center"class="style1"id="f2">F2</div></td>
			<td><div align="center"class="style1"id="g2">G2</div></td>
			<td><div align="center"class="style1"id="h2">H2</div></td>
			<td><div align="center"class="style1"id="i2">I2</div></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td><div align="center"class="style1"id="c3">C3</div></td>
    <td><div align="center"class="style1"id="d3">D3</div></td>
    <td><div align="center"class="style1"id="e3">E3</div></td>
    <td><div align="center"class="style1"id="f3">F3</div></td>
		<td><div align="center"class="style1"id="g3">G3</div></td>
	<td><div align="center"class="style1"id="h3">H3</div></td>
</tr>

</table>
<br/>

<div class="style2"><b><h4 class="h4style">SILVER CLASS (₹ 200/ )<h4></b></div>


<table style="width:50%;"  align="center" class="table table-default" id="silver">
<tr>
  <td><div align="center"class="style1"id="a4">A4</div></td>
  <td><div align="center"class="style1"id="b4">B4</div></td>
  <td><div align="center"class="style1"id="c4">C4</div></td>
  <td><div align="center"class="style1"id="d4">D4</div></td>
  <td><div align="center"class="style1"id="e4">E4</div></td>
  <td><div align="center"class="style1"id="f4">F4</div></td>
	<td><div align="center"class="style1"id="g4">G4</div></td>
	<td><div align="center"class="style1"id="h4">H4</div></td>
	<td><div align="center"class="style1"id="i4">I4</div></td>
	<td><div align="center"class="style1"id="j4">J4</div></td>

</tr>
<tr>
  <td></td>
  <td><div align="center"class="style1"id="b5">B5</div></td>
  <td><div align="center"class="style1"id="c5">C5</div></td>
  <td><div align="center"class="style1"id="d5">D5</div></td>
  <td><div align="center"class="style1"id="e5">E5</div></td>
  <td><div align="center"class="style1"id="f5">F5</div></td>
	<td><div align="center"class="style1"id="g5">G5</div></td>
	<td><div align="center"class="style1"id="h5">H5</div></td>
	<td><div align="center"class="style1"id="i5">I5</div></td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td><div align="center"class="style1"id="c6">C6</div></td>
  <td><div align="center"class="style1"id="d6">D6</div></td>
  <td><div align="center"class="style1"id="e6">E6</div></td>
  <td><div align="center"class="style1"id="f6">F6</div></td>
	<td><div align="center"class="style1"id="g6">G6</div></td>
	<td><div align="center"class="style1"id="h6">H6</div></td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td></td>
  <td><div align="center"class="style1"id="d7">D7</div></td>
  <td><div align="center"class="style1"id="e7">E7</div></td>
  <td><div align="center"class="style1"id="f7">F7</div></td>
	<td><div align="center"class="style1"id="g7">G7</div></td>
</tr>
	<tr>
  <td></td>
  <td></td>
  <td></td>
  <td><div align="center"class="style1" id="d8">D8</div></td>
  <td><div align="center"class="style1" id="e8">E8</div></td>
  <td><div align="center"class="style1" id="f8">F8</div></td>
	<td><div align="center"class="style1"id="g8">G8</div></td>
  </tr>
</table>
</center>
<div class="screen"><h4><b>ALL EYES THIS WAY<b></h4></div>
</div>
<br/><br/>
<div class="col-sm-3">
  <div class="well" style="border-radius:15px">

        <table class="table table-default" style="height:400px;">
          <thead>
          <tr>
            <td colspan="2"><h3 style="font-family:serif"><b> BOOKING SUMMARY</b></h3></td>
          </tr>
        </thead>
        <tbody>
            <tr>
            <td class="booktd">Seat No</td>
            <td style="word-wrap:break-word; text-align:right;"><span id="seatno"></span></td>
          </tr>
          <tr>
            <td class="booktd">No.Of Seats</td>
            <td style="text-align:right"><span id="sno">0</span></td>
          </tr>

          <tr>
            <td class="booktd">Amount Payable</td>
            <td style="text-align:right; font-weight:bold; font-size:20px"><span id="amount">Rs. 0</span></td
          </tr>
          <tr>
            <td colspan="2">
							<center>
        <button ng-click="setPrice()" class="btn btn-danger">PROCEED TO PAY</button>
						</center>
            </td>
          </tr>
        </tbody>
        </table>
      </div>
</div>
</div>
