<br/><br/><br/>
<br/><br/><br/>
<div class="container">
  <br/><br/><br/>

<div class="row">
<DIV class="col-xs-6">
  <b>Select City</b>
<select ng-model="mapping.City">
    <option ng-repeat="o in theatreData | unique: 'city'" value="{{o.city}}">{{o.city}}</option>
</select>
</div>
<div class="col-xs-6">
<b>Select Date</b>
<select ng-model="mapping.Date">
  <option ng-repeat="x in movDates">{{x  | date:'dd, MMM yyyy'}}</option>
</select>
</DIV>
</div>
<div class="row">
<div class="col-xs-12"><table style="height:100%;width:100%" class="table table-inverse">
  <tr>
    <!--<th>CITY</th>-->
    <th>THEATRE</th>
    <th>DATE</th>
    <th colspan="3" style="text-align:center">SHOWTIMINGS</th>
  </tr>
  <tr ng-show="mapping.Date" ng-repeat="m in booking | filter : mapping.City | filter : mapping.Date">
    <!--<td>{{m.City}}</td>-->
    <td>{{m.Theatre}}</td>
    <td>{{m.Date | date:'dd, MMM yyyy'}}</td>
    <td ng-repeat="t in m.ShowTimings">
      <button ng-click="setShow(t,m.Theatre,m.Date,m.City)" style=" background:none!important;border:none;padding:0!important;font: inherit;color:blue;border-bottom:1px solid blue;cursor: pointer;">{{t}}</button></td>
  </tr>
</table>
</div>
</div>
<br/><br/><br/><br/><br/><br/>
</div>
