<div class="container">
  <br/><br/><br/>
<div class="row">
  <div class="col-xs-8" style="height:40%;width:70%">
    <div style="height:50px;background:rgb(73, 186, 142);border-radius:5px;"><h3 style="margin-left:20px;margin-top:20px">
      Share your contact details
    </h3></div>
    <form role="form" name="form1">
    <div class="form-group" style="margin-top:20px">
        <br>
        <input type="text" placeholder="Name" class="form-control" id="name" name="name" ng-model="name" style="width:20%;display:inline;float:left" required />

        <label ng-if="form1.name.$untouched" class="text text-danger" >* Name Required </label>
          <br>
        <input type="email" placeholder="abc@xyz.com" class="form-control" id="emailid" name="emailid" style="width:25%;display:inline;float:left" ng-change="CheckEmail();" ng-model="emailid" required/>
        <br>
        <label ng-if="form1.emailid.$untouched" class="text text-danger" >* Email Required </label>

        <label ng-if="emailidError" class="text text-danger" >Invalid Email ID</label>
        <br>
        <input type="text" placeholder="+919945678902" class="form-control" id="phoneno" name="phoneno" maxlength="13" minlength="13" style="width:20%;display:inlinefloat:left" ng-change="CheckPhone();" ng-model="phoneno" required />
        <label ng-if="form1.phoneno.$untouched" class="text text-danger" >* Phone Required </label>
        <label ng-if="phonenoError" class="text text-danger">Invalid Phone No</label>
          <br>
    </div>

    <div style="height:50px;background:rgb(73, 186, 142);border-radius:5px;"><h3 style="margin-left:20px;margin-top:20px">
      Payment Details
    </h3></div>
    <div style="padding:20px">
    <div class="jumbotron" style="height:80%;width:80%">
      <div class="form-group">
      <label for="cno" style="color:gray">
          Card Number <img src="Images/img.png" style="display:inline;height:20%;width:20%;float:right"/>
        </label>
        <input type="text" class="form-control" id="cno" placeholder="XXXX-XXXX-XXXX-XXXX" maxlength="16" minlength="16" ng-change="Checkcno();" ng-model="cno"/>
          <label ng-if="form1.cno.$untouched" class="text text-danger" >* Card Number Required </label>
        <label ng-if="cnoError" class="text text-danger">Invalid Card No</label>
      </div>
      <div class="form-group">
        <label for="name" style="color:gray">Name on the card</label>
        <input type="text" class="form-control" id="name" ng-model="cardname" placeholder="Name On The Card"/>
        <label ng-if="form1.cardname.$untouched" class="text text-danger" >* Mane as per Card Required </label>
      </div>
      <div class="form-group">
        <label for="mm" style="color:gray;display:inline">
          Expiry
        </label>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label for="cvv" style="color:gray">CVV</label><br/>
        <input type="number" min="1" max="12" class="form-control" id="mm" style="width:65px;display:inline" maxlength="3" placeholder="mm" />
        <input type="number" id="yy" min="2017" max="2027" class="form-control" maxlength="4" style="width:75px;display:inline" placeholder="yy"/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" minlength="3" maxlength="3" id="cvv" length="3" class="form-control" style="width:75px;display:inline" placeholder="CVV" ng-change="Checkcvv();" ng-model="cvv"/>
        <label ng-if="form1.cvv.$untouched" class="text text-danger" >* CVV Number Required </label>
        <label ng-if="cvvError" class="text text-danger">Invalid CVV</label>
      </div>
  </div>
  <div class="form-group">
  <button ng-click="confirm()" class="btn btn-danger" ng-disabled="overallError">
    Make Payment
    <!-- <input type="submit" class="btn btn-danger" value="Make Payment" ng-disabled="overallError"/> -->
  </button>
</div>
</form>
<p style="color:gray">By clicking on 'Make Payment' you are agreeing to terms and conditions .</p>
    </div>
  </div>
  <div class="col-xs-4 well" style="height:70%;width:30%;margin-top:22px">
    <div style="height:50px;background:rgb(73, 186, 142);border-radius:5px;">
      <h3 style="margin-left:20px;margin-top:20px">Order Summary</h3>
    </div>
    <hr/><br/>
    <h6>Movie Name : {{movieName}}</h6>
  <!--  <p>Genre </p>-->
    <br/
    <p>Theatre : {{movieTheatre}}</p>
    <p>Seats : {{movieSeats}}</p>
    <p>Date : {{movieDate}}</p>
    <p>Show time : {{movieShow}}</p>
    <hr/>
    <p>Total Payable Amount : {{movieAmount}}</p>
  </div>
  </div>
</div>
