<div class="container">
  <br/><br/><br/>

<div class="row">
<div class="col-xs-12">
<h1>SHOW AVAILABILITY</h1><br/>
</div>
<div class="col-xs-3"><p ng-repeat="i in moviedata"><img src="{{i.Poster}}" alt="POSTER"  width="250" height="350"  ><br/>
<center>
  <div class="rate">
     <input type="radio" id="star5" name="rate" value="5" ng-click="rate(5)" /><label for="star5" title="text">5 stars</label>
     <input type="radio" id="star4" name="rate" value="4" ng-click="rate(4)" /><label for="star4" title="text">4 stars</label>
     <input type="radio" id="star3" name="rate" value="3" ng-click="rate(3)" /><label for="star3" title="text">3 stars</label>
     <input type="radio" id="star2" name="rate" value="2" ng-click="rate(2)" /><label for="star2" title="text">2 stars</label>
     <input type="radio" id="star1" name="rate" value="1" ng-click="rate(1)" /><label for="star1" title="text">1 star</label>
 </div>
</center>
<h2><span class="glyphicon glyphicon-heart" style="color:red;"></span><p id="rate" style="display:inline"></p></h2></p>
</div>
<div class="col-xs-8">


<p ng-repeat="j in moviedata">
<b>{{j.Title}}</b></br>
{{j.Actors}}<br/>
{{j.Runtime}}<br/>
<b>{{j.Plot}}</b></p>
</div>
</div>
</div>
