<form role="form">
  <div class="form-group" style="margin-top:20px">
<div style="height:50px;background:rgb(73, 186, 142);border-radius:5px;"><h3 style="margin-left:20px;margin-top:20px">
  Signup Details
</h3></div>
<div style="padding:20px">
<div class="jumbotron" style="height:80%;width:80%">
  <div class="form-group">
    <label for="name" style="color:gray">
      Email Id
    </label>
    <input type="email" class="form-control" id="name" placeholder="Username"/>
  </div>
  <div class="form-group">
    <label for="name" style="color:gray">
      Password
    </label>
    <input type="password" class="form-control" id="pass" placeholder="Password"/>
  </div>
  <div class="form-group">
    <label for="name" style="color:gray">
      Confirm Password
    </label>
    <input type="password" class="form-control" id="pass1" placeholder="Password"/>
  </div>
<div class="form-group">
<button ng-click="signup()" class="btn btn-danger">
Signup
</button>
</div>
</form>
